.browser-table{
	border-collapse: collapse;
  	width: 100%;
  	border-left: 4px solid #8AC007;
  	color: #657b83;
  	font-family: 'Consolas', monospace;
}
.browser-table td {
	border: 1px solid #d4d4d4;
	text-align: center;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: top;
}
.browser-table .odd td{
	background-color: #faf6ec;
}

.browser-table th {
	width: 20%;
	height: 32px;
	border: 1px solid #d4d4d4;
	font-weight: normal;
	font-size: 1.2em;
	padding: 11px 5px 11px 5px;
	vertical-align: middle;
}
.browser-table .bsChrome,.browser-table .bsIE,.browser-table .bsFirefox,.browser-table .bsSafari{
	background : #fff url(../../static/img/browser.jpg) no-repeat;
	background-size: 47px auto ;
}

.browser-table .bsChrome{
	background-position: center -93px;
}
.browser-table .bsIE{
	background-position: center -45px;
}
.browser-table .bsFirefox{
	background-position: center 2px;
}
.browser-table .bsSafari{
	background-position: center -143px;
}
