#require('./browser.css')
#if($browsers)
<table class="browser-table">
	<tr class="thead">
		<th>Property</th>
		<th class="bsChrome"></th>
		<th class="bsIE"></th>
		<th class="bsFirefox"></th>
		<th class="bsSafari"></th>
	</tr>
	#foreach($browser in $browsers)
	<tr>
		<td>${!browser.property}</td>
		<td>${!browser.bsChrome}</td>
		<td>${!browser.bsIE}</td>
		<td>${!browser.bsFirefox}</td>
		<td>${!browser.bsSafari}</td>
	</tr>
	#end
</table>
#end