#extends("/page/layout/front/front.vm")
#require("./index.css")
#block("content")
	## <p data-height="268" data-theme-id="0" data-slug-hash="ragYvB" data-default-tab="result" data-user="bookcasey" class='codepen'>See the Pen <a href='http://codepen.io/bookcasey/pen/ragYvB/'>ragYvB</a> by bookcasey (<a href='http://codepen.io/bookcasey'>@bookcasey</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
	## <p data-height="522" data-theme-id="0" data-slug-hash="GgaOQM" data-default-tab="result" data-user="valdean" class='codepen'>See the Pen <a href='http://codepen.io/valdean/pen/GgaOQM/'>Bouncy Text</a> by Val Klump (<a href='http://codepen.io/valdean'>@valdean</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
	#if($examples)
		#widget('/widget/example/example.vm','var:example=$examples.mapareaCss')
		#widget('/widget/example/example.vm','var:example=$examples.mapareaHtml')
	#end

	#if($browsers)
		#widget('/widget/browser/browser.vm','var:browsers=$browsers.get(0)')
	#end

	<a href="javascript:;" class="tooltip" data-tooltip="aaaa">e</a>
	<a href="javascript:;" class="tooltip1" data-tooltip="bbbb">w</a>
	<a href="javascript:;" class="tooltip2" data-tooltip="qwereqwrwqerqwerqwer">n</a>
	<a href="javascript:;" class="tooltip3" data-tooltip="qwereqwrwqerqwerqwer">s</a>
	<a href="javascript:;" class="tooltip4" data-tooltip="qwereqwrwqerqwerqwer">ne</a>
	<a href="javascript:;" class="tooltip5" data-tooltip="qwereqwrwqerqwerqwer">nw</a>
	<a href="javascript:;" class="tooltip6" data-tooltip="qwereqwrwqerqwerqwer">se</a>
	<a href="javascript:;" class="tooltip7" data-tooltip="qwereqwrwqerqwerqwer">sw</a>
	<a href="javascript:;" class="tooltip8" data-tooltip="qwereqwrwqerqwerqwer">sw</a>

	<input id="re" type="numbers" max="10" min="1" step="1" value="3"/>
	<input id="re1" type="numbers" max="10" min="1" step="1" value="5"/>

#end
#require('highlight');

#script()
	hljs.initHighlightingOnLoad();
	require(['tooltip','zepto'],function(Tooltip,$){
		var tooltip = new Tooltip({
			dom : ".tooltip",
			pos : "e"
		});
		var tooltip1 = new Tooltip({
			dom : ".tooltip1",
			pos : "w"
		});
		var tooltip2 = new Tooltip({
			dom : ".tooltip2",
			pos : "n"
		});
		var tooltip3 = new Tooltip({
			dom : ".tooltip3",
			pos : "s"
		});
		var tooltip4 = new Tooltip({
			dom : ".tooltip4",
			pos : "ne"
		});
		var tooltip5 = new Tooltip({
			dom : ".tooltip5",
			pos : "nw"
		});
		var tooltip6 = new Tooltip({
			dom : ".tooltip6",
			pos : "se"
		});
		var tooltip7 = new Tooltip({
			dom : ".tooltip7",
			pos : "sw"
		});

		var tooltip8 = new Tooltip({
			dom : ".tooltip8",
			pos : "ew"
		});
	})
	require(['zepto'],function(){
		require(['components/input/number/number'],function(InputNumber){
			var inputnumber = new InputNumber({
				dom : "#re"
			});
			var inputnumber1 = new InputNumber({
				dom : "#re1"
			});
		})
	});
#end

#require("./index.vm")
#end