#extends("/page/layout/front/front.vm")
#require("./index.css")
#block("content")
	## <p data-height="268" data-theme-id="0" data-slug-hash="ragYvB" data-default-tab="result" data-user="bookcasey" class='codepen'>See the Pen <a href='http://codepen.io/bookcasey/pen/ragYvB/'>ragYvB</a> by bookcasey (<a href='http://codepen.io/bookcasey'>@bookcasey</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
	## <p data-height="522" data-theme-id="0" data-slug-hash="GgaOQM" data-default-tab="result" data-user="valdean" class='codepen'>See the Pen <a href='http://codepen.io/valdean/pen/GgaOQM/'>Bouncy Text</a> by Val Klump (<a href='http://codepen.io/valdean'>@valdean</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
	#if($examples)
		#widget('/widget/example/example.vm','var:example=$examples.mapareaCss')
		#widget('/widget/example/example.vm','var:example=$examples.mapareaHtml')
	#end

	#if($browsers)
		#widget('/widget/browser/browser.vm','var:browsers=$browsers.get(0)')
	#end

	<a href="javascript:;" class="tooltip" data-tooltip="aaaa">fdsf</a>
	<a href="javascript:;" class="tooltip" data-tooltip="bbbb">sss</a>
	<a href="javascript:;" class="tooltip1" style="display:none" data-tooltip="vvvv">dd</a>
#end
#require('highlight');

#script()
	hljs.initHighlightingOnLoad();
	require(['tooltip','zepto'],function(Tooltip,$){
		var tooltip = new Tooltip({
			dom : ".tooltip",
			pos : "right"
		});
		console.log($('.tooltip1').width());
	})
#end

#require("./index.vm")
#end